body {
  margin: 0;
  height: 100vh;

  display: flex;
  justify-content: center;
  align-items: center;
}

.container {
  display: flex;
  flex-direction: column;
  justify-content: start;
  align-items: center;

  width: 500px;
  height: 500px;

  #country {
    border: 1px solid #ccc;
    padding: 0.625rem;
  }

  ul {
    border: 1px solid #ccc;

    li {
      padding: 0.625rem;

      &:focus {
        background-color: lightpink;
      }
    }
  }
}
