:root {
  --primary-color: #b31116;
  --black-color: #1d1316;
  --white-color: #ffffff;
}

body {
  display: flex;
  flex-flow: row nowrap;
  justify-content: center;
  align-items: center;

  padding: 50px;

  color: var(--primary-color);
}

main {
  margin-inline-end: 3.125rem;
  width: 670px;

  .likelion-link {
    font-size: 16px;
    font-weight: 700;
  }

  h1 {
    font-size: 86px;
    line-height: 120%;
    font-weight: 100;

    margin: 5rem 0;

    span {
      display: inline-block;
    }

    :last-child {
      font-weight: 700;
    }
  }

  p {
    color: var(--black-color);
    font-size: 20px;
    line-height: 140%;
    font-weight: 350;
  }

  .links {
    font-size: 24px;
    font-weight: 500;
    margin-block-start: 6.25rem;
  }

  .frontend-link,
  .curriculum-link {
    border-radius: 100px;
    padding: 12px 36px;
  }

  .frontend-link {
    color: var(--white-color);
    background-color: var(--black-color);
  }

  .curriculum-link {
    background-color: var(--white-color);
    border: 1px solid var(--white-color);

    &:hover {
      border: 1px solid var(--primary-color);
      transition: border 0.2s ease-in;
    }
  }
}
