body {
  height: 100vh;
  margin: 0;

  display: flex;
  flex-flow: column nowrap;
  justify-content: center;
  align-items: center;

  background-color: rgb(255, 157, 171);
  color: rgb(195, 240, 255);

  a {
    text-decoration: none;
    color: inherit;

    &:hover {
      color: white;
    }
  }
}
